{% extends 'base.html' %}

{% block content %}
    <h1>Restaurant Menu</h1>

    <h2>Main Courses</h2>
    <div class="menu-item">
        <h3>Baked Lasagna - €16.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Italian Sausage Ravioli - €19.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Smokey Chicken Penne Alfredo - €19.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Seafood Linguine - €20.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Chicken Parma - €18.00</h3>
        <p></p>
    </div>

    <h2>Desserts</h2>
    <div class="menu-item">
        <h3>Chocolate Cake - €10.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Tiramisu - €10.00</h3>
        <p></p>
    </div>

    <h2>Drinks</h2>
    <div class="menu-item">
        <h3>Italian Fruit Juice - €3.50</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Soft Drinks - €3.00</h3>
        <p></p>
    </div>
    <div class="menu-item">
        <h3>Sparkling Water - €4.00</h3>
        <p></p>
    </div>
</div>
{% endblock %}
