<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rondo's Restaurant Booking</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
     {% load static %} 
<body>
    <header>
        <h1>Rondo's Restaurant</h1>
        <nav>
            <ul>
                <li><a href="{% url 'booking_list' %}">Home</a></li>
                <li><a href="{% url 'create_booking' %}">Create Booking</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p></p>
    </footer>
</body>
</html>

