{% load static %}

{% extends "base.html" %}

{% block title %}
Server Error
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="text-center custom-heading">Oops! 500 Error</h1>
          <h2 class="text-center custom-heading">Internal Server Error</h2>
          <div class="card-text">
            <p>Something went wrong on our side. We’re already working to fix it!</p>
            <p>Sorry for the inconvenience, please try again later.</p>
          </div>
          <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

